<p id="notice"><%= notice %></p>
<iframe src="http://docs.google.com/viewer?url=":rails_root/public/system/names/:id/:style/:basename.:extension"&embedded=true" width="800" height="600" style="border: none;"></iframe>
</iframe>




<%= link_to 'Edit', edit_uploadedfile_path(@uploadedfile) %> |
<%= link_to 'Back', uploadedfiles_path %>
