/*home page */
.container{
width:1200px;
}
body {
background: 	#3BB9FF;
background-image:url('bald-eagle_1_600x450.png');
}
header{
padding-top:10px;
}

/*acenet*/
h1
{
color:#8467D7;
font-size: 300%;
#font-family:Dicot Light;
}
#h1:hover
{
color:cyan;
font-family:Time New Raman;
}
a{
color:#7F38EC;
text-decoration:underline;
font-size: 120%
}




#a:hover{
color:	#C68E17;
font-size: 200%;
}

 

/* Navigation links */
nav{
float: right;
}
nav{
background-colour:white;
padding:30 0;
white-space: nowrap;
}
nav ul{
margin:0
padding:0
}
nav ul li
{
lisy_style_type:none;
display: inline-block;
padding:0.2em 15;
}
nav ul li a{
padding: 0 5px;
font-weight: bold;
font-family:Arial;
}
nav ul li a:hover{
text-decoration:none;
}
.enter
{
color:blue;
font-size:150%;
padding: 280 200px;
-moz-border-radius:10px;
-webkit-border-radius: 10px;
border-radius:10px;

}
nav {
float: right;
}
nav {
background-color:cyan;
padding: 0 0.7em;
white-space: nowrap;
}
nav ul {
margin: 0;
padding: 0;
}
nav ul li {
list-style-type: none;
display: inline-block;
padding: 0.2em 0;
}
nav ul li a {
padding: 0 5px;
font-weight: bold;
}
nav ul li a:visited {
color: #09c;
}
nav ul li a:hover {
text-decoration: underline;
}
.round {
-moz-border-radius:10px;
-webkit-border-radius: 10px;
border-radius:10px;
}
h2
{
color:green;
font-size: 300%;
font-family:Arial;
}
h3
{
color:white;
font-size: 200%;
font-family:"Times New Raman";
}
a{
color:white;
text-decoration:none;
}
.footer
{
color:red;
padding:100 450px;
}

