<br>
<h1><b>&nbsp;&nbsp;
AceNet
</b></h1>
<%= form_for(:institutes,:url=>institutes_path) do |f|%>
<div class="enter">
<%=f.label ("Enter Institute Name:")%>
<%=text_field_with_auto_complete :institute,:name,{:size=>30},{:url=>institutes_path(:js),:method=>:get} %>
<%=f.submit "search" %>
</div>
<% end %>


