<%= form_for(:institutes,:url=>institutes_path) do |f|%>
<div class="enter">&nbsp;&nbsp;&nbsp;&nbsp;<br>
<br><br><%=f.label ("Enter Institute Name:")%>
<%=text_field_with_auto_complete :institute,:name,{:size=>40},{:url=>institutes_path(:js),:method=>:get} %>
<%=f.submit "search" %>
<br />
<br />
<br />
<br />
<br />
</div>
<% end %>


